<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Choose your fighter</h1>
        </div>
    </div>
    <div class="row">
        <hr />
        <div id="fighter-span" class="col-12">
            <button *ngFor="let fighter of fighters" type="button" class="btn btn-light character-button"
                (click)="chooseYourFighter(fighter)" [value]="fighter">
                {{fighter | titlecase}}
            </button>
        </div>
    </div>
</div>