.fighter-table {
    width: 90%vw;
    background-color: black;
    color:lightgoldenrodyellow;
}

.character-button {
    margin-top: 5px;
}

#fighter-span {
    display: flex;
    flex-direction: column;
}