#select-page {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 5px;
}

.stage-instructions {
    color: red;
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 25px;
}